/*=== Topbar styles ===*/
.topbar {
    position: absolute;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    background-color: #11698E;
    flex-direction: row;
}

.topbar-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    float: left;
}

.outline-button {
    border: 2px solid white;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 100px;
    float: right;
    align-self: flex-end;
}

.outline-button:hover {
    font-weight: bold;
}

/*=== Journals list styling ===*/
.journal-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.journal-box .date{
    font-size: 2vh;
    float: left;
    height: 100%;
    padding-top: 5px;
}

.journal-box .entry{
    margin-left: 12%;
    width: 85%;
    height: fit-content;
}

.journal-box .entry .title{
    font-size: 3vh;
    height: fit-content;
    color: #19456B;
}

.journal-box .entry .content{
    margin-top: 1px;
    font-size: 2vh;
    height: fit-content;
}

/*=== login form styling ===*/
.form {
    align-content: center;
}

.form-title {
    color: #19456B;
    font-size: 20px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

label {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: fit-content;
}

input[type=text] {
    width: 300px;
    height: 20px;
    padding: 12px 20px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
    border-width: 0;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-width: 0;
    border-bottom: 1px solid black;
}

input[type=submit] {
    width: 100px;
    padding: 5px 10px;
    display: block;
    border-radius: 100px;
    border-width: 2px;
    border-color: transparent;
    background-color: #16C79A;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
}

input[type=submit]:hover {
    background-color: transparent;
    border-color: #16C79A;
    color: #16C79A;
}

/*=== Styles for question card ===*/
.qcard {
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #11698E;
    border-radius: 20px;
    overflow: hidden;
}

.qcard-top {
    height: 45%;
    background-color: white;
}

.qcard-top .box {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    top: 22.5%;
    transform: translate(0, -50%);
}

.qcard-bottom .box {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 72.5%;
    transform: translate(0, -50%);
    flex-direction: row;
}

.box input {
    width: 400px;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 20px;
}