/*=== Styles for profile screen ===*/
.profile-left {
    position: absolute;
    width: 35vw;
    height: 70vh;
    margin-top: 15vh;
    border-right: 2px solid #19456B;
}

.profile-right {
    position: absolute;
    width: 64vw;
    max-height: 85vh;
    margin-left: 37vw;
    margin-top: 15vh;
    overflow-y: scroll;
}

.profile-circle {
    position: absolute;
    height: 10vw;
    width: 10vw;
    border-radius: 200vh;
    background-color: #19456B;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 5vw;
}

.profile-name {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 16vw;
    font-size: 4vh;
    font-weight: bold;
    color: #19456B;
}

.full-button {
    padding: 10px 50px;
    display: block;
    border-radius: 100px;
    border-width: 2px;
    border-color: transparent;
    background-color: #16C79A;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
    margin-bottom: 30px;
}

.full-button:hover {
    border-color: #16C79A;
    background-color: transparent;
    color: #16C79A;
    font-weight: bold;
}

/*=== Styles for login screen ===*/
.login-left {
    position: absolute;
    width: 35vw;
    height: 80vh;
    margin-top: 10vh;
    border-right: 2px solid #19456B;
}

.login-right {
    position: absolute;
    width: 50vw;
    margin-left: 35vw;
    top: 50%;
    transform: translate(0, -50%);
}

.login-title {
    position: absolute;
    font-size: 10vh;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10vw;
    font-weight: bold;
    color: #19456B;
}

.login-line-button {
    width: 100px;
    padding: 5px 10px;
    display: block;
    border-radius: 100px;
    border-width: 1px;
    border-color: #19456B;
    background-color: transparent;
    color: #19456B;
    transition: 0.3s ease;
    margin: auto;
    margin-top: 10px;
}